*{
    box-sizing:border-box;
}
@font-face {
    font-family: "Segoe UI Bold",sans-serif;
    src: url("../fonts/Segoe UI Bold");
}
@font-face {
    font-family: "Segoe UI Light",sans-serif;
    src: url("../fonts/Segoe UI Light");
}
@font-face {
    font-family: "Segoe UI",sans-serif;
    src: url("../fonts/Segoe UI");
}

body{
    width: 1920px;
    margin:0 auto;
    font-family: "Segoe UI Bold",sans-serif;
}
header{
    background-image: url('../img/background.png');
}
nav{
    background: rgba(0,0,0,0.5);
}
#navbar{
    width: 1175px;
    margin:0 auto;
    color:#ffffff;
    font-family: "Segoe UI Bold",sans-serif;
}
#hero{
    padding-top: 265px;
    padding-bottom: 174px;

}
#herotext{
    font-family: "Segoe UI Light",sans-serif;
    font-size: 34pt;
    color:#ffffff;
    background-color: #4b555d;
}
#herotext p{
    margin:0px;
}
mark {
    background-color: #4a555d;
    color: black;
}
#logo{
    margin-left:350px;
    color:#ffffff;
    font-family: "Segoe UI Bold",sans-serif;
    font-size: 10pt;
    margin-top:25px;
}
nav ul{
    margin-bottom:36px;
    margin-top:36px;
}
nav ul li{
    padding-right:40px;
    list-style:none;
    margin-top:10px;
    padding-top: 25px;
    padding-bottom: 25px;
}
nav ul li a{
    text-decoration:none;
    font-size:15px;
    color:#ffffff;
    font-family: "Segoe UI Bold",sans-serif;
}
nav ul li a:hover {
    border: 3px solid #5094f2;
    padding: 3px;
}

main{
    background:#4bcaff;
}
#services{
    padding-left: 320px;
    padding-right: 320px;
    padding-top: 80px;
    padding-bottom: 80px;
    color:#ffffff;
}
#servicestitel{
    padding-right:1200px;
    padding-bottom:40px;
    font-family: Segoe UI Light;
}
footer{
    background: #515f67;
    padding-top:113px;
    padding-bottom:150px;
}
#onderkanttekst{
    padding-left: 370px;
    color:#ffffff;
    padding-right: 275px;
}
#onderkanttekst h3{
    font-family: Segoe UI Light;
}
#filmpje{
    padding-right: 250px;
}
#titel{
    font-size:30pt;
}
#tekst{
    font-size:14pt;
    font-family: "Segoe UI"
}
/*FLEXBOX CSS*/


.d-flex{
    display:flex;
}
.flex-column{
    flex-direction:column;
}
.flex-row{
    flex-direction:row;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-center{
    justify-content:center;
}
.justify-content-end{
    justify-content:flex-end;
}
.justify-content-between{
    justify-content:space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-evenly{
    justify-content: space-evenly;
}
.align-items-center{
    align-items:center;
}
.flex-wrap{
    flex-wrap:wrap;
}
.w-25{
    width:25%;
}
.w-50{
    width:50%;
}
.w-75{
    width:75%;
}
.w-100{
    width:100%;
}
.text-center{
    text-align:center;
}

